html
{
width: auto;
height: auto;
margin: 0px;
padding: 0px;

}

body
{
height: 100%;
width: 100%;
margin: auto;
padding: none;
font-family: 'PT Sans Narrow', sans-serif;
background-color:black;
}

.nav1
{
background-color: black;
z-index: 2;
}

h1 
{
    display: flex;
justify-content: center;
font-size: 7vh;
font-weight: 800;
color: white;
}








/* <425px */

@media(max-width:425px)
{

   
h1 
{
margin-top: 5%;
color: white;
}
h2 
{
font-weight: 800;
color: white;
}

.nav1
{
    border-bottom: rgb(121, 0, 0) 2px solid;
position: sticky;
top: 0px;

}



.nav1 button 
{
background-color: none;
border: none;
color: blanchedalmond;
}


.nav1 img 
{
height: 50px;
margin-left: 10%;
}

.grid1
{
background-color: black;
width: 100%;
padding-left: 0px;
padding-right: 0px;
}

.grid1 .row
{
margin: 0px;
margin-bottom: 5%;
padding-left: 3%;
padding-right: 3%;
}

.grid1 p 
{
font-size: larger;
color: rgba(255, 255, 255, 0.678);
}

.grid1 img 
{
width: inherit;
}

.grid1>div
{
    margin-bottom: 10%;
}

.invest
{
text-align: left;
}

.simple
{
text-align: center;
}


.hello
{
padding-top: 15%;
padding-bottom: 15%;
}


hr 
{
color: black;
}

.risk
{
    margin-top: 10%;
text-align: center;
}
.risk>p
{
color: rgba(180, 180, 180, 0.123);
}


.diff 
{
    padding-top: 10%;
    background-color:rgb(121, 0, 0) ;
    text-align: center;
display: flex;
align-items: center;
justify-content: center;

}

.award 
{
padding-bottom: 5vh;
}

.secondrowaward
{
justify-content: space-evenly;
}

.viewawards
{
border-color: white;
color: white;
padding-left: 20%;
padding-right: 20%;
}

.postdiff
{
    background-image: url(images/globestill.jpeg);
    background-size:  cover;
    width: 100%;
padding: 0px;

}

.buttons
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttons>button:nth-of-type(1)
{
background-color:rgb(121, 0, 0) ;
border-color: rgb(121, 0, 0);
}

.buttons>button:nth-of-type(2)
{
border-color: rgb(121, 0, 0);
}

.tree 
{
    display: flex;
    flex-direction: row;
justify-content: center;

}

.lowcost
{
padding-top: 5%;
}

.moneytree
{
  
    border-radius: 5%;
    margin-bottom: 10%;
    margin-top: 5%;
   height:3vh;
}

.costli
{
    color: rgba(255, 255, 255, 0.678);
}

.costli>ul
{
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin-top: 5%;
  font-size: larger;
  color: white;
}

.lmrow
{
    margin-top: 10%;
    display: flex;
justify-content: center;
margin-bottom: 5%;
}


.learnmore
{
border:rgb(121, 0, 0) solid 1px;
justify-content: center;

}

.global
{
    text-align: center;
    padding-top: 5%;
background-image: url(images/globestill.jpeg);
background-size: 500px 825px;
background-repeat: no-repeat;
color: white;

}

.globetitle
{
    padding-top: 10%;
text-align: center;
}

.globetext
{
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 7%;
    padding-top: 4%;
    color: white;
}

.globeaccess
{
    margin-top: 10%;
    margin-bottom: 10%;
text-align: center;
color: white;
font-weight: bold;
font-size: 2em;

}

.globeaccess>p
{
color: white;
}

.global p
{
color: white;
}

.global h3 
{
    font-size: 3em;
color: white;
}

.globelm
{
margin-top: 10%;
margin-bottom: 10%;
}


.technology
{
    text-align: center;
}

.techh
{
margin-top: 5%;
margin-bottom: 10%;
}

.technology h3 
{
color:rgb(121, 0, 0) ;
text-decoration: underline rgb(121, 0, 0);
}

.technology div:nth-of-type(3)
{
margin-top: 5vh;
}

.technology p
{
color: white;
margin-bottom: 10%;
}

.innovation
{
    padding-top: 10%;
    text-align: center;
background:rgb(121, 0, 0) ;
}

.innovation h3
{
color: white;
}



.newscar
{
margin-top: 7%;
height: 600px;
z-index: 1;
}

.newscar button 
{
margin-top: 5%;
}

.carousel-item h2 
{
margin-top: 5%;
margin-bottom: 2%;
}

.carousel-item p 
{
margin-top: 5%;
}

.trust
{
text-align: center;
padding-left: 5%;
padding-right: 5%;
}

.trustrow
{
margin-top: 3vh;
}

.trust h2 
{
margin-top: 15%;
margin-bottom: 5%;
}

.trust h3
{
color: white;
font-size: 3em;
}

.trust>div>p 
{
 margin-bottom: 10%;
}

.steps
{
    color: white;
    padding-top: 15%;
text-align: center;
background-image: url(images/business-graph-chart-of-stock-market-investment-on-blue-background-vector.jpg);
background-size: cover;
margin-bottom: 0px;
}

.steps h4 
{
padding-bottom: 10%;
font-weight: 600;
}

.steps h5
{
font-size: 2em;
}

.steps p 
{
padding-bottom: 10%;
}

.start
{
background-color: rgb(121, 0, 0);
border-color: rgb(121, 0, 0);
padding-left: 20%;
padding-right: 20%;
margin-top: 10%;
margin-bottom: 20%;
}

.legal1
{

padding-top: 5%;
padding-bottom: 5%;
}

.legal1 div
{
padding-top: 10%;
text-align: center;
}

.legal1 a 
{
color: rgba(255, 255, 255, 0.678);
}


.final
{
color: rgba(255, 255, 255, 0.678);
}

.index
{
padding-top: 10%;
}

.index h4
{
    color: rgba(255, 255, 255, 0.678);
font-weight: bold;
margin-bottom: 2%;
}

.index h6 
{
    color: rgba(255, 255, 255, 0.678);
    text-decoration-color: rgba(255, 255, 255, 0.678);
}

.btt>div
{
    display: flex;
justify-content: center;

}

}
